<div class="container">
    <form (ngSubmit)="processForm()">
    
        <div class="form group">
        <label for="name"></label>
        username : <input type="text" name='name' class='form-control' [(ngModel)]='user.name'>
        </div>
        
        <div class="form group">
          <label for="password"></label>
          password : <input type="password" name='password' class='form-control' [(ngModel)]='user.password'>
          </div>
         
        <br><input type="submit" value="sign in" class="btn btn-success">
      </form>

    </div>