<!-- <input type="text" name="showStatistics" [(ngModel)]='store.storeID'>
<button class="btn btn-primary" (click)="showStats()">Show Stats</button>  <br><br>
<br> -->
   <div> 
      <h2>store Statistic </h2>
<table class="table table-striped">
  <thead>
    <th> Store ID </th>
    <th> name</th>
    <th> # of visits</th>
    <th># of sold products</th>
    <th># of buyers</th>
  </thead>
  <tbody>
    <tr >
      <td> {{store.storeID}}</td>
      <td>{{store.name}}</td>
      <td>{{store.numOfVisits}} </td>
      <td>{{store.productsSold}} </td>
      <td>{{store.numOfBuyers}}</td>

    </tr>
  </tbody>

</table>
</div>
<br><br>
  <div> 
      <h2>store products </h2>
  <table class="table table-striped">
    <thead>
      <th> Product ID </th>
      <th> name</th>
      <th> # of visits</th>
      <th># of sold products</th>
      <th># of buyers</th>
    </thead>
    <tbody>
      <tr *ngFor='let product of products'>
        <td> {{product.productID}}</td>
        <td>{{product.name}}</td>
        <td>{{product.numOfVisits}} </td>
        <td>{{product.productsSold}} </td>
        <td>{{product.numOfBuyers}}</td>
        <button class="a btn btn-danger" (click)="delete(product)">Delete</button>
        <button class="a btn btn-default" (click)="edit(product)">Edit</button>
      </tr>
    </tbody>
  
  </table>
  </div>
<br><br>

<button class="btn btn-primary" (click)="listStats()">list available Stats</button>  <br><br>
<div *ngIf='islist'>
<table class="table table-striped">
  <thead>
    <th> Entity Name </th>
    <th> operation</th>
  </thead>
  <tbody>
    <tr *ngFor='let stat of stats'>
      <td> {{stat.entityName}}</td>
      <button class="a btn btn-primary" (click)="show(stat)">Show Stats</button>  
      <button  class="a btn btn-primary" (click)="avg(stat)">Show Avg</button>  
      <button class="a btn btn-primary" (click)="max(stat)">Show Max</button>  
      <button class="a btn btn-primary" (click)="min(stat)">Show Min</button>  
    </tr>
  </tbody>

</table>
</div>
<button class ="btn btn-primary" (click)="addCollab()">Add a Collabarator</button><br><br>
<button class ="btn btn-primary" (click)="addProduct()">add product</button><br><br>

<div *ngIf='availps'>
  <table class="table table-striped">
    <thead>
      <th> Product ID </th>
      <th> name</th>
      <th> # of visits</th>
      <th># of sold products</th>
      <th># of buyers</th>
    </thead>
    <tbody>
      <tr *ngFor='let product of availprods'>
        <td> {{product.productID}}</td>
        <td>{{product.name}}</td>
        <td>{{product.numOfVisits}} </td>
        <td>{{product.productsSold}} </td>
        <td>{{product.numOfBuyers}}</td>
        <button class ="btn btn-primary" (click)="add(product)">add</button><br><br>

      </tr>
    </tbody>
  
  </table>

</div>

<div *ngIf='listproducts'>
  <table class="table table-striped">
    <thead>
      <th> Product ID </th>
      <th> name</th>
      <th> # of visits</th>
      <th># of sold products</th>
      <th># of buyers</th>
    </thead>
    <tbody>
      <tr *ngFor='let product of allproducts'>
        <td> {{product.productID}}</td>
        <td>{{product.name}}</td>
        <td>{{product.numOfVisits}} </td>
        <td>{{product.productsSold}} </td>
        <td>{{product.numOfBuyers}}</td>
  
      </tr>
    </tbody>
  
  </table>
  </div>
  <div *ngIf='liststores'>
    <table class="table table-striped">
      <thead>
        <th> store ID </th>
        <th> name</th>
        <th> # of visits</th>
        <th># of sold products</th>
        <th># of buyers</th>
      </thead>
      <tbody>
        <tr *ngFor='let store of stores'>
          <td> {{store.storeID}}</td>
          <td>{{store.name}}</td>
          <td>{{store.numOfBuyers}} </td>
          <td>{{store.numOfVisits}} </td>
          <td>{{store.productsSold}}</td>
          
        </tr>
      </tbody>
    
    </table>
    </div>

    <div *ngIf='listbrands'>
      <table class="table table-striped">
        <thead>
          <th> name</th>
          <th> brand category</th>
          
        </thead>
        <tbody>
          <tr *ngFor='let brand of brands'>
            <td> {{brand.brandName}}</td>
            <td>{{brand.category}}</td>
          </tr>
        </tbody>
      
      </table>
      </div>
      <h2>actions happened in your store</h2>
      <br><br>
      <div> 
        <table class="table table-striped">
          <thead>
              <th>operation ID</th> 
            <th>product name</th>
             <th>product ID </th>
          </thead>
          <tbody>
            <tr *ngFor="let command of commands">
                <td>{{command.operationID}}</td>
              <td>{{command.name}}</td>
              <td>{{command.productID}}</td>
              <button class="a btn btn-warning" (click)="undo(command)">undo</button> 
              <button class="a btn btn-danger" (click)="deleteCommand(command)">X</button> 

            </tr>
      </tbody>
      
      </table>
      </div>  
  

